@media (max-width: 638px) {
  form {
    margin: 80px 40px;
    padding: 40px;
  }

  form .alarms {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
  }

  form .alarms label {
    margin: 0px 10px;
  }

  form .field-group {
    flex-direction: column;
  }
}