@media (max-width: 638px) {
  form {
    margin: 80px 40px;
  }

  form .field-group {
    flex-direction: column;
  }

  form .field-group .field + .field {
    margin-left: 0px;
  }

  form .field-group .field:nth-child(3) {
    max-width: none;
  }
}